:root {
    --background: #09090b;
    --text: #fafafa;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
    opacity: .8;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.g-header {
    padding: 2rem;
    text-align: center;
}

.g-input-search {
    width: 18rem;
    background-color: transparent;
    padding: 1rem;
    border: 1px solid var(--text);
    border-radius: .75rem;
    color: var(--text);
    outline: none;
    font-size: 1rem;
}

.g-search-btn {
    width: 8rem;
    height: 4rem;
    background-color: var(--text);
    color: var(--background);
    font-size: 1rem;
    font-weight: bold;
    border-radius: .75rem;
}

.g-box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.g-error-msg {
    text-align: center;
    color: tomato;
    font-weight: 700;
    display: none;
}

.g-table-section {
    padding: 4rem;
    width: 100%;
}

.g-table {
    width: 100%;
}

.g-table-tada {
    height: 4rem;
    border-bottom: 1px solid var(--text);
}

.g-table-row-tada:hover {
    background-color: #fafafa08;
}